    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Joey</h2>
              <br/>
                <p>Bacon ipsum dolor amet pork sirloin brisket leberkas kielbasa pastrami beef strip steak short loin shankle jowl chuck alcatra. Pancetta flank alcatra, kielbasa sirloin chicken ham andouille pork loin. Jowl turducken doner pancetta tenderloin biltong kielbasa. Shankle shoulder salami shank frankfurter tongue tenderloin picanha cow landjaeger chuck ground round short ribs beef jowl. Strip steak pork loin rump capicola.</p>
                <br/>
              </div>
        </div>
    </section>
